body{
    
    font-family: 'Barlow', sans-serif;
}

main{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    

}

.feature-card{
    margin-bottom: 10px;
    margin-top: 10px;

}

footer{
    text-align: center;
    margin-top: 15px;
}